*.db

node_modules
yarn.lock
package-lock.json

dist
dist-ssr
*.local

.DS_Store

scannerarchive/
archive.txt
cert.pem
key.pem
localhost-key.pem
localhost.pem

venv/
p2/
ofa/
*/venv/
*/p2/
.env/
*.env

__pycache__
*/__pycache__

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage
coverage.xml
htmlcov/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
